<div class="content">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && contracts">
        <div class="actions">
            <div style="padding: 6px 0px">
                <mat-button-toggle-group [(ngModel)]="type" (change)="onChangeType($event)">
                    <mat-button-toggle value="wipe">Wipe Contracts</mat-button-toggle>
                    <mat-button-toggle value="retire">Retire Contracts</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div style="text-align: end">
                <button mat-raised-button color="primary" class="toolbar-btn add" (click)="createContract()">
                    <mat-icon>add</mat-icon>
                    <span>Create Contract</span>
                </button>
                <button (click)="importContract()" class="toolbar-btn" color="primary"
                        mat-raised-button>
                    <mat-icon>file_open</mat-icon>
                    <span>Import Contract</span>
                </button>
            </div>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="contracts" class="table">
                <ng-container matColumnDef="contractId">
                    <th mat-header-cell *matHeaderCellDef> Hedera Contract Id </th>
                    <td mat-cell *matCellDef="let element">
                        <hedera-explorer type="accounts"
                            [params]="element.contractId">{{element.contractId}}</hedera-explorer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef> Tags </th>
                    <td mat-cell *matCellDef="let element">
                        <tags-explorer [data]="element._tags" [owner]="owner" [target]="element.id" [entity]="tagEntity"
                            [schemas]="tagSchemas" [service]="tagsService"></tags-explorer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="permissions">
                    <th mat-header-cell *matHeaderCellDef> Permissons </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="permissions">
                            <span matTooltip="Owner" [attr.has]="true">O</span>
                            <span matTooltip="Admin" [attr.has]="true">A</span>
                            <span matTooltip="Manager" *ngIf="type == 'wipe'" [attr.has]="true">M</span>
                            <span matTooltip="Wiper" *ngIf="type == 'wipe'" [attr.has]="false">W</span>
                            <button mat-icon-button class="refresh-action-btn"
                                (click)="checkStatus(element.contractId, sync)"><mat-icon #sync>sync</mat-icon></button>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef>Operations</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status === 'WAIT' && !element.isOwnerCreator"
                            class="refresh-action-container" style="display: flex; justify-content: center;">
                            <span>Wait to be added</span>
                            <button mat-icon-button class="refresh-action-btn"
                                (click)="checkStatus(element.contractId, sync)"><mat-icon #sync>sync</mat-icon></button>
                        </div>
                        <div *ngIf="element.status === 'APPROVED' && !element.isOwnerCreator"
                            style="display: flex; justify-content: center;">
                            <div class="action-btn" (click)="addPair(element.contractId)">
                                <span>Add Pair</span>
                                <mat-icon>swap_horizontal_circle</mat-icon>
                            </div>
                        </div>
                        <div *ngIf="element.isOwnerCreator" style="display: flex; justify-content: center;">
                            <select-menu-button class="btn-publish" (action)="onOperationAction($event, element)"
                                [options]="operationsOptions">
                                Operations
                            </select-menu-button>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="retire">
                    <th mat-header-cell *matHeaderCellDef>Retirement Requests</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status === 'APPROVED' || element.isOwnerCreator" class="action-btn view-btn"
                            [routerLink]="'pairs'" [queryParams]="{contractId: element.contractId}">
                            <span>View</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
        <div class="table-paginator">
            <mat-paginator [length]="contractsCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPage($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </ng-container>
</div>
